/*.layout-container {
   width:100%;
}*/
/*.wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 960px; 
  padding-right: 10px; 
  padding-left:  10px; 
}*/

/*.layout-container:after {
   clear:both;
}*/

.wrapper {
  background-color: gray;
}

.bio {
  outline: 5px solid black;
  background-color: white;
  /*display: flex;*/
      width: 55%;
      float:left;
margin: 50px;
      
      text-align: left;

    }
.me {
      float: left;
      /*margin: 5px;*/
 padding: 0 20px 20px 0;
    }
  
    /*h1 {
      color: pink;
    }*/
.name {
   width: 25%;
   background-color: blue;
   color: white;
   padding-left:25-px;
   padding-right:25-px;
   font-size: 18-px;
}

.links {
   width: 65%;
   float:right;
   padding-left:25-px;
   padding-right:25-px;
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: 18-px;
   color: blue;
   text-align:center;
}
  
    
  
    p {
      background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/ffd6f82c-60e2-4c97-bdc9-850e966f3ed7/pink-flowers.png);
      background-repeat: repeat;
        /*--webkit-background-clip: text;
        ###-webkit-text-fill-color: transparent;*/
      font-size: 25px; }
      
 .sidebar {
  background-color: white;
  outline: 5px solid black;
  /*height: 100%;*/
  display: flex;
  flex-direction: row;
  /*width: 25%;*/
  float: right;
  /*margin: 5%;*/
  /* position: fixed; */ 
  z-index: 1; /* Stay on top */
  top: 5%;
  /*top: 0; 
  right: 0;*/
  background-color: white;
  color: blue;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20-px;
  padding-left: 25-px;
    }
  .sidebar div {
  padding: 8px;
  }
h3 {
   color:black;
}
       
.head {
  margin-bottom: 150px;
  margin-top: 0px;
}
       

